extends template/main

block variables
    -var title = ''
block content
    main
        section.account
            .container
                .account-heading.d-flex
                    a(href="account.html").href-opacity.fs-20.fs-lg-32.fw-md Мои данные
                    .fs-20.fs-lg-32.fw-md Мои заказы
                .account-order.d-flex.flex-column
                    .account-order__block.d-flex.flex-column
                        .account-order__info
                            .account-order__info-block.d-flex.flex-column
                                a(href="account-order.html").href-main.fs-16.fw-md Заказ № 12345 на сумму 62 600 ₽
                                .account-order__info-lists.d-flex.flex-column
                                    -
                                        let accoutList = [
                                                            {key: 'Дата заказа', value: '18.08.2024'},
                                                            {key: 'Покупатель', value: 'Иванов Иван Иванович'},
                                                            {key: 'Телефон', value: '+7 (123) 456-78-90'},
                                                            {key: 'Email', value: 'ivanov@mail.ru'},
                                                            {key: 'Адрес доставки', value: 'Россия, г. Москва, ул. Ленина, д. 100, к. 2, кв. 100'},
                                                            {key: 'Способ оплаты', value: 'Банковской картой'},
                                                            {key: 'Статус оплаты', value: 'Не оплачен'},
                                                         ]
                                    each val in accoutList
                                        .account-order__info-list.d-flex
                                            span.fs-14.fs-xl-16
                                                span= val['key']
                                            span.fs-14.fs-xl-16
                                                span= val['value']
                            .account-order__info-buy.d-flex.flex-column.bg-grey.rounded-12.justify-content-between
                                .fs-14.fs-xl-16.fw-md.lh-1_4 Успейте оплатить заказ до его автоматической отмены 25.08.24
                                button.btn.btn_main.justify-content-center Оплатить онлайн
                        .account-order__products.d-flex.flex-column
                            .fs-16.fw-md Товары в заказе
                            .account-order__products-grid.scroll
                                -for(let i = 1; i <= 9; i++)
                                    a(href="product.html").account-order__product.position-relative.rounded-12.overflow-hidden
                                        img(src= start+ "images/cart/1.jpg", alt="Патчи 50 шт для наращивания ресниц").h-100
                                        .account-order__product-count.rounded-circle.bg-white.position-absolute.fs-14.fw-md 99                                            
                                .account-order__more.bg-grey.rounded-12.d-flex.align-items-center.justify-content-center.text-center.pointer
                                    .fs-16.fw-md и еще <br> 2 товара
                    .account-order__block.d-flex.flex-column
                        .account-order__info
                            .account-order__info-block.d-flex.flex-column
                                a(href="account-order.html").fs-16.fw-md Заказ № 12345 на сумму 62 600 ₽
                                .account-order__info-lists.d-flex.flex-column
                                    each val in accoutList
                                        .account-order__info-list.d-flex
                                            span.fs-14.fs-xl-16
                                                span= val['key']
                                            span.fs-14.fs-xl-16
                                                span= val['value']
                            .account-order__info-buy.d-flex.flex-column.bg-grey.rounded-12.justify-content-between
                                .fs-14.fs-xl-16.fw-md.lh-1_4 Заказ полностью оплачен. Приятного пользования!
                                button.btn.btn_main.justify-content-center Повторить заказ
                        .account-order__products.d-flex.flex-column
                            .fs-16.fw-md Товары в заказе
                            .account-order__products-grid.scroll
                                -for(let i = 1; i <= 9; i++)
                                    a(href="product.html").href-main.account-order__product.position-relative.rounded-12.overflow-hidden
                                        img(src= start+ "images/cart/1.jpg", alt="Патчи 50 шт для наращивания ресниц").h-100
                                        .account-order__product-count.rounded-circle.bg-white.position-absolute.fs-14.fw-md 99                                            
                                .account-order__more.bg-grey.rounded-12.d-flex.align-items-center.justify-content-center.text-center.pointer
                                    .fs-16.fw-md и еще <br> 2 товара