extends template/main

block variables
    -var title = ''
block content
    main
        section.article
            .container
                .cart-wrapper.d-flex.flex-column
                    h1.fs-20.fs-lg-32.fw-md.mb-0 Как купить
                    .content
                        .row.g-16.g-lg-40
                            .col-lg-6
                                p <strong>Заголовок</strong>
                                p Новые профессиональные патчи для наращивания ресниц Lanshe Total White Minimal form на сегодняшний день являются самыми белыми, безопасными и <a href="#">эстетичными на рынке</a>. Они созданы для изоляции нижних ресниц. Идеально подходят для работы с клиентами на таких процедурах как: наращивание ресниц, ламинирование ресниц, окрашивание ресниц.
                                ol
                                    li Новые профессиональные патчи
                                    li для наращивания ресниц
                                    li Lanshe Total White Minimal form
                                    li на сегодняшний день являются самыми белыми
                                    li безопасными и эстетичными на рынке
                            .col-lg-6
                                .rounded-12.overflow-hidden
                                    img(src= start+"images/content/1.jpg", alt="")
                        hr
                        .row.g-16.g-lg-40
                            .col-lg-6.order-lg-0.order-1
                                .rounded-12.overflow-hidden
                                    img(src= start+"images/content/2.jpg", alt="")                                
                            .col-lg-6
                                p <strong>Заголовок</strong>
                                p Новые профессиональные патчи для наращивания ресниц Lanshe Total White Minimal form на сегодняшний день являются самыми белыми, безопасными и <a href="#">эстетичными на рынке</a>. Они созданы для изоляции нижних ресниц. Идеально подходят для работы с клиентами на таких процедурах как: наращивание ресниц, ламинирование ресниц, окрашивание ресниц.
                                ul
                                    li Новые профессиональные патчи
                                    li для наращивания ресниц
                                    li Lanshe Total White Minimal form
                                    li на сегодняшний день являются самыми белыми
                                    li безопасными и эстетичными на рынке
        +questions                                