extends template/main

block variables
    -var title = ''
block content
    main
        section.article
            .container
                .cart-wrapper.d-flex.flex-column
                    h1.fs-20.fs-lg-32.fw-md.mb-0 Политика обработки персональных данных
                    .content
                        p Пользователь, оставляя заявку на Сайте https://lanshe-professional.com, принимает настоящее Согласие на обработку персональных данных (далее – Согласие). Действуя свободно, по собственной воле и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие ИП Михеев Данила Викторович, действующий под торговой маркой «LANSHE», на обработку своих персональных данных со следующими условиями:
                        ol
                            li Данное Согласие дается на обработку персональных данных как без использования средств автоматизации, так и с их использованием.
                            li Согласие дается на обработку следующих персональных данных: персональные данные, не являющиеся специальными или биометрическими: номера контактных телефонов; адреса электронной почты; место работы и занимаемая должность; пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip-адрес).
                            li Персональные данные не являются общедоступными.
                            li Цель обработки персональных данных: обработка входящих запросов физических и юридических лиц с целью оказания консультирования; аналитика действий физического лица на веб-сайте и функционирования веб-сайта; проведение рекламных и новостных рассылок.
                            li Основанием для обработки персональных данных является: ст. 24 Конституции Российской Федерации; ст. 6 Федерального закона №152-ФЗ О персональных данных»; «Политика обработки персональных данных»; настоящее согласие на обработку персональных данных.
                            li В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передача (распространение, предоставление, доступ); блокирование; удаление; уничтожение.
                            li Персональные данные обрабатываются до отписки физического лица от рекламных и новостных рассылок. Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях, осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.
                            li Согласие может быть отозвано субъектом персональных данных или его представителем путем направления письменного заявления ИП Михеев Данила Викторович или его представителю по адресу, указанному в начале данного Согласия.
                            li В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных ИП Михеев Данила Викторович вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2–11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г. в редакции от 01.07.2017.
                            li Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.7 и п.8 данного Согласия.