extends template/main

block variables
    -var title = ''
block content
    main
        section.article
            .container
                .cart-wrapper.d-flex.flex-column
                    h1.fs-20.fs-lg-32.fw-md.mb-0 Правила и условия использования
                    .content
                        div
                            p <strong> Терминология </strong>
                            p Клиент — физическое или юридическое лицо, имеющее намерение заказать или воспользоваться предоставляемой услугой либо заказывающее, приобретающее или использующее предоставляемые услуги для личных, семейных и иных нужд.
                            p Продавец — ИП Михеев Данила Викторович, действующее под торговой маркой «LANSHE»
                            p Сайт — перечень товаров и услуг, расположенный в сети Интернет по адресу https://lanshe-professional.com.
                            p Услуги — все услуги, оказываемые компанией ИП Михеев Данила Викторович, предлагаемые к продаже Продавцом посредством Сайта.
                            p Товары — все товары, предлагаемые компанией ИП Михеев Данила Викторович, предлагаемые к продаже Продавцом посредством Сайта.
                            p Заказ — оставленная на сайте заявка Клиента на услуги и товары, а также информация от клиента о необходимости связаться с ним по указанным контактам.
                            p Администратор (Менеджер) — должностное лицо, выступающее от имени Продавца и обрабатывающее заказы Клиентов.
                            p Персональные данные — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                            p Форма сбора персональных данных — форма заказа обратного звонка, форма заказа, форма запроса либо иная форма на Сайте, формируемая посредством компьютерной программы Сайта, которая служит для сбора персональных данных.
                            p Обработка персональных данных — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств, с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                        div
                            p <strong> Основные условия </strong>
                            p Заказы, посредством форм сбора персональных данных на Сайте принимаются только от Клиентов — физических и юридических лиц старше 18 лет. Заполнив форму заказа (либо иную форму) на Сайте, Клиент извещает Продавца о своем полном и безоговорочном согласии на содержание сделанного заказа и на совершение Продавцом обратного звонка с целью подтверждения или уточнения заказа Клиента или дополнительного информирования Клиента об услугах, предоставляемых Продавцом, и выражает согласие на заключение с Продавцом договора в соответствии с частью 2 статьи 158 Гражданского Кодекса Российской Федерации, в т. ч. Клиент дает согласие Продавцу на обработку и использование персональных данных Клиента, согласно статьи 3 Федерального Закона № 152-ФЗ от 27.07.2006 г. в редакции от 01.07.2017 г. «О персональных данных» (далее — Закон), в целях, определенных Свидетельством Продавца, различными способами, в том числе путем осуществления автоматизированного анализа персональных данных и поручение Продавцом под свою ответственность обработку персональных данных любому третьему лицу по усмотрению Продавца при условии соблюдения требований ст. 6 Закона, в том числе осуществления таким лицом конфиденциальности и защиты персональных данных без ограничения срока действия.
                            p Согласно пункта 5 статьи 21 Закона, настоящее согласие может быть отозвано только при условии письменного уведомления Продавца не менее чем за 180 дней до предполагаемой даты прекращения использования персональных данных Продавцом.
                        div
                            p <strong> Порядок рассмотрения заказа
                            p Обработка заказа начинается незамедлительно после его поступления Продавцу. Обработку заказа осуществляет специалист, который проверяет возможность исполнения заявки Клиента.
                            p Далее специалист Продавца осуществляется обратная связь с Клиентом, посредством указанного Клиентом способа контакта: телефонная связь, электронная почта, адрес в социальной сети либо иным способом; объясняются условия оформления заказа и порядок работы с Клиентом.
                            p В случае невозможности исполнения заявленной Клиентом услуги или заказа специалист информирует об этом Клиента с объяснением причины отказа посредством указанного Клиентом способа контактной связи. При этом специалистом Продавца принимаются все возможные меры для исполнения заказа Клиента с предложением альтернативных вариантов. Общий срок, в течение которого должен быть обработан заказ, не может превышать 3 (трёх) дней при условии предоставления Клиентом Продавцу достоверных и доступных контактов обратной связи. Оплата. Политика безопасности платежей при получении услуг и товаров Оплата Услуг и Товаров производится Клиентом оплатой по выставленному счету на расчетный счет Продавца, согласно условиям заключенного договора. Оформление оплаты заказа на сайте не производится. При отказе от Услуги или Товара возврат денежных средств Клиенту осуществляется в той же форме, в которой была осуществлена оплата в течение 60 (шестидесяти) дней с момента получения Продавцом от Клиента письменного заявления на возврат с приложением всех необходимых документов.
                            p Настоящие Правила и условия являются условиями договора купли-продажи, заключенного между Клиентом и Продавцом.
                        div
                            p <strong> Реквизиты </strong>
                            p ИП Михеев Данила Викторович
                            p ИНН: 222407739005
                            p ОГРНИП: 323784700227950
                            p Юридический адрес: Россия, 197373, г. Санкт-Петербург, аллея Арцеуловская, д. 23